@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*	header  */
header {
  padding: 20px 50px;
  width: 100%;
  background-color: #fff;
  color: #1ec3cb;
  position: fixed;
  top: 0;
  z-index: 10;
  margin-bottom: 20px;
  border-bottom: 1px solid #1ec3cb;
}
.header-left {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.header-left li {
  list-style: none;
  float: left;
}
.header-right {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  float: right;
}
.header-right li {
  list-style: none;
  display: inline;
  padding-right: 40px;
}
.header-right a {
  text-decoration: none;
  color: #1ec3cb;
}
.header-right a:hover {
  background-color: #1ec3cb;
  color: white;
  text-decoration: underline;
}
.fa-bars {
  visibility: hidden;
}

/*	main  */
.bg_main {
	background-image: url("https://media.cntraveler.com/photos/6167f074d89b8ecb70c9531a/master/pass/RajaAmpat-GettyImages-979296970.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}
.main_text {
  padding: 120px 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-align: center;
}
.main_text h1 {
  padding-bottom: 20px;
  font-size: 40px;
}
.main_text h2 {
  padding-bottom: 20px;
  font-size: 25px;
  margin-bottom: 35px;
}
.btn_contact {
  padding: 15px 58px;
  background-color: #1ec3cb;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: white;
  text-decoration: none;
  box-shadow: 0px 9px #999;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn_contact:active {
  background-color: #0da2aa;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  animation: glowing 1300ms infinite;
}

/*	tour  */
.tour {
  position: relative;
  background-color: #fbfbfb;
  width: 100%;
  height: auto;
  /*margin-bottom: 50px;*/
}
.tour h2 {
  padding: 50px 100px;
  color: #1ec3cb;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 24px;
}
.card-tour {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
  padding: 0 100px;
}
.card-content {
  /*align-items: center; */
  /*margin-right: 85px;*/
  width: 300px;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 50px;
}
.card-content img {
  width: 100%;
  height: 200px;
}
.card-content h3 {
  padding: 8px 24px;
  color: #8d8d8d;
}
.card-des {
  padding: 0 24px;
  color: #adadad;
  margin-bottom: 15px;
}
.card-price {
  padding: 0 24px;
  color: #8d8d8d;
}
.card-bottom {
  padding: 20px 24px;
}
.btn_card {
  padding: 6px 12px;
  background-color: #1ec3cb;
  color: white;
  text-decoration: none;
  box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}
.btn_card:active {
  background-color: #0da2aa;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  animation: glowing 1300ms infinite;
}
.card-link {
  text-decoration: none;
  color: #adadad;
  float: right;
}
.card-link:hover {
  text-decoration: underline;
}

/*	service */
.service {
  position: relative;
  width: 100%;
  height: auto;
}
.service h2 {
  padding: 50px 100px;
  color: #1ec3cb;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-size: 24px;
}
.service-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 0 100px;
  justify-items: center;
}
.service-content {
  width: 300px;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-bottom: 80px;
}
.service-content img {
  width: 80px;
  margin-bottom: 10px;
}
.service-content h3 {
  color: #8d8d8d;
  margin-bottom: 10px;
}
.icon_money {
  width: 60px;
}
.service-content p {
  color: #adadad;
}

/*	footer 	*/
.footer {
  background-color: #1ec3cb;
  color: white;
  display: flex;
  justify-content: space-between;
}
.footer-left {
  padding: 0 100px;
  padding-top: 60px;
  font-family: "Raleway", sans-serif;
}
.footer-left li {
  list-style: none;
}
.footer-right {
  /*padding-right: 100px;*/
  /*padding: 50px 0; */
  padding: 40px 100px;
  font-family: "Nunito", sans-serif;
  float: right;
}
.footer-right li {
  font-size: 14px;
  list-style: none;
  margin-bottom: 5px;
}

@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 10px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 3px #2ba805;
  }
}
