@media (max-width: 675px) {
  .fa-bars {
    visibility: visible;
    cursor: pointer;
  }
  .header-left li {
    font-size: 15px;
  }
  .header-right li {
    display: none;
  }
  .main_text h1 {
    font-size: 25px;
  }
  .main_text h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .btn_contact {
    padding: 10px 38px;
  }
  .tour h2 {
    padding: 20px 50px;
    font-size: 18px;
  }
  .card-tour {
    grid-gap: 1rem;
    justify-items: center;
    padding: 0px;
  }
  .service h2 {
    padding: 20px 50px;
    font-size: 18px;
  }
  .service-card {
    grid-gap: 1rem;
    padding: 0px;
    justify-items: center;
  }
  .footer {
    flex-direction: column;
  }
  .footer-left {
    padding: 0 50px;
    padding-top: 60px;
    font-family: "Raleway", sans-serif;
  }
  .footer-right {
    padding: 40px 50px;
    font-family: "Nunito", sans-serif;
    float: right;
  }
}
